/* .main{
    display: flex;
    padding: 14px;
    justify-content: center;
}
h1 {
    background-color: rgb(145, 212, 235);
    box-shadow: 0px 5px 1px  #92dcf4 inset;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.form{
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
}
.form input{
    width: 90%;
    margin: 15px;
    height: 25px;
    border-radius: 5px;
}
.form .btn{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.form button{
  height: 30px;
  width: 80px;
  margin: auto;
  background-color: rgb(106, 173, 250);
  color: white;
  border: none;  
  border-radius: 16px; 
  cursor: pointer;
} 
.form button:hover {
  background-color: rgb(213, 219, 49); /* Background color changes on hover 
}
.form2{
    padding: 10px;
    justify-content: space-between;
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
    border-radius: 10px;
    width: 55%; 
    height: 100%;
    margin-left: 10px;
    
}
.form2 th{
    padding: 20px;
}
.form2 tD{
    padding: 23px;
    margin-right: 50PX;
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

todo application */
 input{
    border-radius: 5px;
    border-color: rgb(77, 196, 255);
    height: 30px;
    width: 200px;
    margin-left: 42%;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 button{
    margin-left: 5px;
     height: 30px;
     border-color: rgb(77, 196, 255);
 }