.welcome2{
    margin-top: 4% ;
    margin-left: 37%;
    font-size: 25px;
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
    border-radius: 10px;
    width: 30%;
    height:330px;
}
.welcome label {
text-decoration: none;
}
.welcome3 {
    padding: 20px;
}
.welcome2 button{
    background-color: rgb(51, 176, 218);
    margin-left: 40%;
    width: 80px;
}
