.welcome2{
    margin-top: 4% ;
    margin-left: 37%;
    font-size: 25px;
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
    border-radius: 10px;
    width: 30%;
    height:350px;
}
.welcome label {
text-decoration: none;
}
.welcome3 {
    padding: 20px;
}

.welcome2 button{
    background-color: rgb(51, 176, 218);
    margin-left: 40%;
    width: 100px;
}
.mainContainer{
    display: flex;
    gap: 15px;

}
h3{
    padding: 10px;
    color: white;
    font-size:larger;
    font-weight: 900;
}
.welcome-screen .container1{
    width: 160px;
    height: 80px;
    border-radius: 15px;
    background-color: lightgreen;
}
.welcome-screen .container2{
    width: 160px;
    height: 80px;
    border-radius: 15px;
    background-color: lightblue
}
.welcome-screen .container3{
    width: 160px;
    height: 80px;
    border-radius: 15px;
    background-color: lightsalmon;
}
.welcome-screen{
    width: 500px;
    height: 400px;
    margin-left:35%;
    box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
    border-radius: 10px;
}
.welcome-screen .welcome-content {
    padding: 20px;
    margin-top: 10px;
}
.welcome-screen .welcome-content input {
    text-align: left;
}
.welcome-screen .welcome-content button{
    margin-left: 34%;
    width: 130px;
    height: 40px;
}
.welcome-screen .welcome-content button:hover {
    background-color: rgb(0, 128, 255);
    color: white;
}.welcome-screen .welcome-content h2{
    margin-top: 40px;
    font-size: xx-large;
    font-weight: 700;
}